@font-face {
    font-family: "heading-apple";
    src: url(fuentes/SF-Pro-Display-Black.otf);
}

@font-face {
    font-family: "text-apple";
    src: url(fuentes/SF-Pro-Text-Regular.otf);
}

@font-face {
    font-family: "mono-apple";
    src: url(fuentes/SFMono-Regular.otf);
}

* {
    font-family: "text-apple", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(-45deg, #e78466, #e26193, #47aed3, #4bddbb);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.content {
    min-height: 70vh;
    min-width: 85vw;
    margin: 50px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.content-php {
    min-height: 70vh;
    min-width: 85vw;
    margin: 50px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.container {
    position: relative;
    width: 100%;
    text-align: left;
}

.nav-bar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-bar li {
    padding: 5px 15px;
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.nav-bar li:hover {
    background-color: #ffffffb0;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.33);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

form {
    min-height: 70vh;
    min-width: 85vw;
    margin: 50px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input,
select {
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
    margin: 10px 0;
}

input:focus {
    outline: none;
    background-color: #ffffffb0;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.33);
}

input[type=submit] {
    background-color: #ffffffb0;
    padding: 7px 15px;
}

input[type=submit]:hover {
    background-color: #ffffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.33);
    padding: 7px 15px;
}

fieldset {
    min-width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
    margin: 10px 0;
}

button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px 15px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.33);
}

button a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}